[user]
	email = {{ if hasKey . "email" }}{{ .email }}{{ else }}test@example.com{{ end }}
	name = {{ if hasKey . "name" }}{{ .name }}{{ else }}Test User{{ end }}
	signingKey = ~/.ssh/id_signing.pub

[init]
	defaultBranch = master

[core]
	editor = vim
	excludesfile = ~/.config/git/ignore
	ignorecase = false

[pull]
	ff = only

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	algorithm = histogram

[merge]
	conflictStyle = zdiff3

[rerere]
	enabled = true

[alias]
	co = checkout
	br = branch
	st = status -sb
	lg = log --oneline --graph --decorate -20
	unstage = reset HEAD --
	last = log -1 HEAD
	amend = commit --amend --no-edit
	edit = commit --amend --only
	ff = merge --ff-only

[commit]
	gpgSign = true
	verbose = true

[tag]
	forceSignAnnotated = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers

[url "git@github.com:"]
	insteadOf = https://github.com/
